.darkModeSwitchWrapper {
    position:absolute;
    right:20px;
    top:calc(50% - (20px / 2));

    .darkModeTrack {
        width:70px;
        height:20px;
        background-color:#CCC;
        border-radius: 15px;
        position:relative;

        .darkModeSwitch {
            position:absolute;
            outline:none;
            border:2px solid #CCC;
            transition:left .5s;
            width:30px;
            height:30px;
            background-color:#FFF;
            top:-5px;
            border-radius:50%;
            cursor:pointer;

            &.off {
                left:0;
            }

            &.on {
                left:50px;
            }
        }

        .darkModeOnText, .darkModeOffText {
            position:absolute;
            font-size:12px;
            pointer-events:none;
            user-select:none;
            opacity:0;
            animation:animate-in .5s forwards;
            animation-delay: .5s;

            &.darkModeOnText {
                left:10px;
            }

            &.darkModeOffText {
                right:10px;
            }
        }
    }
}

@keyframes animate-in {
    from {
        opacity:0;
    }

    to {
        opacity:1;
    }
}